/* Body styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Header styles */
header {
  color: #60f50b;
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: 300%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float:left;
}

nav a {
  display: block;
  color: #010000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}

nav a:hover {
  background-color: #fdfdfd;
  color: #333;
}

/* Main section styles */
main {
  max-width: 800px;
  margin: 0 auto;
}

.featured-items {
  display:flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 26%;
  margin: 1%;
  background-color: #cfcfcf8c;
  padding: 20px;
  text-align: center;
}

.item img {
  max-width: 100%;
}

.item h3 {
  margin-top: 0;
}

.item p {
  color: #000000;
  margin-top: 0;
}

.item a {
  display: block;
  margin-top: 10px;
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

.item a:hover {
  background-color: #666;
}

.about-us {
  margin-top: 50px;
}

.contact-us {
  margin-top: 50px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
}

.contact-us label {
  margin-bottom: 10px;
}

.contact-us input,
.contact-us textarea {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.contact-us button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.contact-us button[type="submit"]:hover {
  background-color: #666;
}
